:root {
	font-size: 60%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	min-height: 100vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background: #f9f9f9;
}

html {
	scroll-behavior: smooth;
}

body,
input,
button,
textarea {
	font: 400 1.6rem Lato, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	margin: 11.3rem auto 3rem;
}

.icon-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 0.5rem;
}

.icon-arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.icon-arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}