header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #306497;
    z-index: 100;
}

header .image {
    padding: 2rem;
    text-align: center;
}

header .image img {
    height: 2rem;
}

header .navigator {
    background-color: #eee;
    padding: 1.5rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
}

header .navigator .btn {
    cursor: pointer;
    padding: 1rem 2rem;
}